.button {
  width: 100%;
  font: inherit;
  padding: 0.6rem 1.5rem;
  margin-top: 0.5rem;
  border: 1px solid #051923;
  color: rgba(225, 225, 225, 0.9);
  background: #051923;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background-color: rgba(5, 25, 35, 0.7);
  border-color: rgba(5, 25, 35, 0.7);;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}
